<ion-view view-title="Lights">
  <ion-content class="padding">
    <ul class="list">
      <li class="item item-toggle">
      Light 1
        <label class="toggle toggle-balanced">
        <input ng-model="led.led1" type="checkbox" ng-change="haveChange()">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>

      <li class="item item-toggle">
      Light 2
        <label class="toggle toggle-balanced">
        <input type="checkbox">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>
    </ul>
  </ion-content>  
</ion-view>