<!-- <ion-view view-title="Sensors"> -->
        <ion-content class="padding">
          <div class="list">
            <li class="item item-icon-left">
              <i class="icon ion-thermometer"></i>
                Temperature
              <span class="badge badge-energized">50%</span>
            </li>

            <li class="item item-icon-left">
              <i class="icon ion-android-cloud-outline"></i>
                Humidity
              <span class="badge badge-assertive">80%</span>
            </li>

            <li class="item item-icon-left">
              <i class="icon ion-nuclear"></i>
                Dust
              <span class="badge badge-calm">20%</span>
            </li>

          </div>
        </ion-content>
      <!-- </ion-view> -->